*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
}

body{
    font-family: haas;
    background-color: var(--bck_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

@font-face {
  font-family: decor;
  src: url(../font/Snell\ Roundhand/snellroundhand_bold.otf)
}

.btn_exp_blog{
    padding:1% 2% ;
    border: solid 0.5px #49494A;
    margin-top: 2%;
}

.btns_blog_s{
    padding:2% 0 2% 10% ;
    width: 30%;
    flex-wrap: wrap;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 2%;
    
}

.btn_blog{
    border: solid 0.5px var(--txt_color);
    background-color: var(--bck_color);
    padding: 2% 5%;
    font-family: haas;
    margin-bottom: 2%;
    font-size: 16px;
    color: var(--txt_color);
}

.blog1_card{

    width: 80%;
    margin: 2% 10%;
    background-image: url(../Img/blog1img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    border-radius: 15px;
    display: flex;
    align-items: end;
    justify-content: start;

}

.blog1_card_cntn{
    padding:0 0 3% 5%;
    color: var(--bck_color);
    font-family: haas;

}

.date_card_blog{
    font-family: haas_light;
    padding-bottom: 2%;
}

.two_blog_d{
    width: 80%;
    margin: 1% 10%;
    height: 40vh;
    border-radius: 15px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.blog2_card{

    width: 49%;
    background-image: url(../Img/blog2img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    border-radius: 15px;
    display: flex;
    align-items: end;
    justify-content: start;

}

.blog3_card{

    width: 49%;
    background-image: url(../Img/blog3img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    border-radius: 15px;
    display: flex;
    align-items: end;
    justify-content: start;

}

.blog4_card{

    width: 80%;
    margin: 2% 10%;
    background-image: url(../Img/blog4img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    border-radius: 15px;
    display: flex;
    align-items: end;
    justify-content: start;

}