*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
}

body{
    font-family: haas;
    background-color: var(--bck_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

.div_header{
    width: 90%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div_btn2_rch{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c2a9bb3;
    padding: 1% 2%;
    gap: 2%;
    font-family: haas_light;
}