*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#1E1E1E;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
}

.all_nav{
    width: 80%;
    display: flex;
    padding: 1% 10% 3% 10%;
    align-items: end;
    justify-content: start;
    gap: 25px;
    font-size: 18px;
    color: var(--txt_color);
}

.all_nav2{
    width: 90%;
    display: flex;
    padding: 2% 0%;
    align-items: end;
    justify-content: start;
    gap: 25px;
    font-size: 18px;
    color: var(--txt_color);
}

.logo_div{
    width: 6%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items:end;
    /* background-color: #6c2a9b8a; */
}

.logo{
    width: 100%;
}

.nav_cntnt_div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}