*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
}

body{
    font-family: haas;
    background-color: var(--bck_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 85%;
  overflow-y: auto;
  overflow-x: visible;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
  margin-top: -5%;

}

.scroll-stack-inner {
  padding: 0 10px;
  max-height: 100vh;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  height: 25rem;
  width: 100%;
  margin: 20px 0;
  padding: 3rem;
  border-radius: 40px;
  box-sizing: border-box;
  /* Improve mobile performance */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  border: solid #333333 0.1px;
  background-image: url(../Img/folder2.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.scroll-stack-end {
  width: 100%;
  height: 2px;
}

.hover-wrapper {
  transition: transform 0.35s ease, filter 0.35s ease;
  transform-origin: center;
  pointer-events: auto;
}

/* scale-up on hover */
.scroll-stack-card:hover .hover-wrapper {
  transform: scale(1.08);
  filter: drop-shadow(0 20px 40px rgba(0,0,0,0.2));
}

/* actual card content */
.card-inner {
  width: 100%;
  height: 100%;
}



.scroll-stack-card:nth-child(1) {
  background-image: url(../Img/folder2.png);
  background-repeat: no-repeat;
  background-size: cover;

   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scroll-stack-card:nth-child(1):hover{
  transform: scaleX(200);
  transform-origin: center center;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15); /* soft shadow */
  z-index: 999;
}

.scroll-stack-card:nth-child(2) {
  background-image: url(../Img/folder3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-stack-card:nth-child(3) {
  background-image: url(../Img/folder4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.scroll-stack-card:nth-child(4) {
  background-image: url(../Img/folder2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.scroll-stack-card:nth-child(5) {
  background-image: url(../Img/folder3.png);
  background-repeat: no-repeat;
  background-size: cover;
}