*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
}

body{
    font-family: haas;
    background-color: var(--bck_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}


.d1_det_chil_d2{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    color: var(--main_color3);
    font-family: haas_light;
    height: 700px;
    padding-left: 10%;
}

.prj_overview{
    font-family: haas;
    font-size: 24px;
}

.prj_overview_p1{
    line-height: 180%;
    font-size: 20px;
}

.d2_det_chil_d2{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

.width_det_ch{
    width: 80%;
}
